.advantages{
	position: relative;

	@include media-laptop {
		top: -40px;
		margin: 0 110px;
	}
}

.advantages-list{
	@include no-list-style;

	display: grid;
	grid-gap: 20px;

	@include media-laptop {
		grid-template-columns: 1fr 1fr;
		grid-gap: 80px;
	}
}

.advantage-side{
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 1fr;

	background-color: #f2f2f2;
	padding: 0 20px 10px;
	margin: 0 20px;

	@include media-tablet {
		grid-template-rows: 50px 145px 100px;
		padding: 45px 60px;
	}

	@include media-laptop {
		grid-template-rows: 90px 135px 50px;
		padding: 52px 45px;
	}

}

.advantages-header{
	position: relative;

	display: grid;
	grid-auto-columns: 1fr;
	
	grid-template-columns: 30% 60%;
	justify-items: start;
	align-items: center;
	

	@include media-tablet {
		grid-template-columns: 65% 30%;
	}

	@include media-laptop {
		align-items: center;
		align-content: center;
		grid-template-columns: 30% 60%;


	}
}

.advantages-icon__wrapper{
	display: grid;

	grid-template-rows: 50px;
	grid-template-columns: 50px;

	justify-content: start;
	align-items: center;

	background-color: #68b738;
	border-radius: 50%;
	border: 1px solid #68b738;

	width: 50px;
	height: 50px;

	margin: 0;
	padding: 0;

	@include media-tablet {
		order: 1;

		grid-template-rows: 200px;
		grid-template-columns: 200px;

		width: 200px;
		height: 200px;
	}

	@include media-laptop {
		order: 0;

		grid-template-rows: 100px;
		grid-template-columns: 100px;

		width: 100px;
		height: 100px;
	}
}
.advantages-list__icon{
	@include sprite-viewport;

	justify-self: center;
	align-self: center;

	z-index: 2;
}

.advantages-list__item-header{
	color: #111111;
	font-family: Oswald;
	font-size: 24px;
	font-weight: 400;
	line-height: 37.02px;
	text-transform: uppercase;

	margin-bottom: 15px;

	@include media-tablet {
		align-self: start;
		font-size: 36px;
		font-weight: 400;
		line-height: 37.02px;
		text-transform: uppercase;

		margin: 0;
		padding: 0;
	}

	@include media-tablet {
		align-self: center;
	}
}
.advantages-list__item-text{
	color: #444444;
	font-family: "Arial MT";
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;

	@include media-tablet {
		color: #444444;
		font-size: 16px;
		line-height: 24px;

		max-width: 375px;
	}

	@include media-laptop {
		max-width: 444px;

		margin-top: 40px;
	}
}
.advantages-list__item-link{
	position: relative;
	top: 0;
	left: 0;
}
.advantages-link{
	position: relative;
	top: 0;
	left: 0;

	color: #111111;
	font-family: Oswald;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-transform: uppercase;

	&::after{
		content: "";

		position: absolute;

		top: 10px;
		right: -50px;

		width: 30px;
		height: 15px;

		background-color: transparent;

		background-image: url("../img/icon-right-arrow-verylong.svg");
		background-repeat: no-repeat;
	}

	@include media-tablet {
		font-size: 20px;
		line-height: 20px;
	}
}

