.advantages{
	position: relative;

	@include media-laptop {
		top: -40px;
		margin: 0 110px;
	}
}

.advantages-list{
	@include no-list-style;

	display: grid;
	grid-gap: 20px;

	@include media-laptop {
		grid-template-columns: 1fr 1fr;
		align-items: stretch;
		grid-gap: 50px;
	}
}

.advantage-side{
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 1fr;

	background-color: #f2f2f2;
	padding: 0 20px 10px;
	margin: 0 20px;

	@include media-tablet {
		grid-template-rows: 50px auto 100px;
		padding: 45px 60px;
	}

	@include media-laptop {
		grid-template-rows: 90px auto 50px;
		padding: 50px 30px;
	}

}

.advantage-side__header{
	position: relative;

	display: grid;
	grid-auto-columns: 1fr;
	
	grid-template-columns: 30% 60%;
	justify-items: start;

	@include media-tablet {
		grid-template-columns: 65% 30%;
	}

	@include media-laptop {
		align-items: center;
		align-content: center;
		grid-template-columns: 35% 60%;
	}
}

.advantages-icon__wrapper{
	display: grid;

	grid-template-columns: 100%;

	justify-content: start;
	align-self: center;

	background-color: #68b738;
	border-radius: 50%;
	border: 1px solid #68b738;

	width: 50px;
	height: 50px;

	margin: 0;
	padding: 0;

	@include media-tablet {
		order: 1;

		width: 200px;
		height: 200px;
	}

	@include media-laptop {
		order: 0;

		width: 100px;
		height: 100px;
	}
}
.advantage-side__icon{
	@include sprite-viewport;

	justify-self: center;
	align-self: center;
	z-index: 2;
}

.advantage-side__title{
	color: #111111;
	font-family: Oswald;
	font-size: 24px;
	font-weight: 400;
	line-height: 37.02px;
	text-transform: uppercase;

	margin-bottom: 15px;

	@include media-tablet {
		align-self: start;

		font-size: 36px;
		font-weight: 400;
		line-height: 37.02px;
		text-transform: uppercase;

		margin: 0;
		padding: 0;
	}

	@include media-laptop {
		align-self: center;
	}
}
.advantage-side__text{
	margin-bottom: 25px;

	@include media-tablet {
		max-width: 340px;

		margin-bottom: 30px;
	}

	@include media-laptop {
		width: 100%;
		max-width: 100%;

		margin-top: 40px;
	}
}
.advantage-side__link{
	position: relative;
	top: 0;
	left: 0;
}
.advantages-link{
	position: relative;
	top: 0;
	left: 0;

	color: #111111;
	font-family: Oswald;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-transform: uppercase;

	&::after{
		content: "";

		position: absolute;

		top: 30%;
		left: 97px;

		width: 24px;
		height: 15px;

		background-color: transparent;

		background-image: url("../img/icon-right-arrow-verylong.svg");
		background-repeat: no-repeat;

		transition-duration: 150ms;
		transition-property: width, top;
	}

	&:hover::after,
	&:focus::after{
		top: 25%;
		width: 33px;
	}
	&:active{
		opacity: 0.3;
	}

	@include media-tablet {
		font-size: 20px;
		line-height: 20px;

		&::after{
			top: 40%;
			left: 130px;
		}
		&:hover::after,
		&:focus::after{
			top: 35%;
			width: 33px;
		}
	}


}

