.catalog-options{
	margin-top: 0;
	margin-bottom: 50px;

	@include media-tablet {
		margin-top: 90px;
		margin-bottom: 150px;
	}
	@include media-laptop {
		margin-top: 60px;
		margin-bottom: 50px;
	}
}

.catalog-options__wrapper{
	@include media-tablet {
		margin-top: 55px;
	}
	@include media-laptop {
		display: grid;
		grid-template-columns: auto 250px;
		justify-content: center;
		grid-gap: 80px;

		margin-top: 50px;
	}
}
.catalog-options__title{
	position: relative;

	color: #111111;
	font-size: 24px;
	line-height: 24px;

	padding: 0 20px;

	@include media-tablet {
		font-size: 36px;
		line-height: 36px;

		padding: 0 40px;
	}
}
.options-list{
	@include no-list-style;

	padding: 0 20px;

	display: grid;

	margin-top: 15px;
	margin-bottom: 40px;

	@include media-tablet {
		grid-gap: 12px;
		padding: 0 75px;
	}
	@include media-laptop {
		padding: 0;
		width: 890px;
	}
}
.options-list__item{
	border-top: 1px solid #cdcdcd;

	&:last-child {
		border-bottom: 1px solid #cdcdcd;
	}

	@include media-tablet {
		border-top: 1px solid #cdcdcd;

		&:first-child {
			border-top: none;
		}
		&:last-child {
			border-bottom: none;
		}
	}

	@include media-laptop {
		&:first-child {
			border-top: 1px solid #cdcdcd;
		}
		&:last-child {
			border-bottom: 1px solid #cdcdcd;
		}
	}
}
.options-side{
	padding: 13px 0;

	@include media-tablet {
		display: grid;
		grid-template-columns: auto auto;
		align-items: center;
		justify-content: space-between;

		padding: 20px 0;
	}

	@include media-laptop {
		grid-template-columns: 1fr 1fr auto;
		align-items: center;
		justify-content: space-around;

		padding: 10px 0;
	}
}

.options-side__title{
	color: #222222;
	font-family: Oswald;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-transform: uppercase;

	margin: 0;

	@include media-tablet {
		font-size: 20px;
		font-weight: 400;
		line-height: 20px;
	}
}
.options-side__table{
	width: 100%;
	border-collapse: collapse;

	margin-top: 15px;

	@include media-tablet {
		margin-top: 0;
	}
}
.options-side__text{
	font-size: 14px;
	line-height: 14px;
	vertical-align: top;

	@include media-tablet {
		vertical-align: bottom;
		text-align: right;
	}
}
.options-side__name{
	@include media-tablet {
		text-align: right;
		width: 70%;
	}
	@include media-laptop {
		text-align: left;
	}
}
.options-side__price{
	text-align: right;
	width: 30%;

	@include media-laptop {
		text-align: center;
	}
}
.options-side__link{
	@include button-green;

	font-size: 16px;
	font-weight: 400;
	line-height: 20px;

	text-align: center;

	width: 280px;
	height: 40px;

	margin-top: 14px;

	@include media-tablet {
		grid-column-start: 1;
		grid-column-end: 3;

		width: 630px;
		height: 40px;

		margin-top: 25px;
	}

	@include media-laptop {
		grid-column: none;

		width: 245px;
		height: 40px;

		margin: 0;
	}
}

.options-bonus__wrapper{
	@include media-laptop {
		margin: 0;
		padding: 0;
	}
}

.options-bonus{
	display: flex;

	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-height: 290px;

	margin: 0 20px;

	background-color: #63a73a;
	background-image: url("../img/gift-photo-mobile@1x.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	@include retina {
		background-image: url("../img/gift-photo-mobile@2x.jpg");
	}


	transition: opacity 200ms;
	&:hover,
	&:focus{
		opacity: 0.6;
	}
	&:active{
		opacity: 0.3;
	}

	@include media-tablet {
		flex-direction: row;
		justify-content: space-between;

		min-height: 200px;
		padding: 0 95px;
		margin: 75px 35px;

		background-image: url("../img/gift-photo-tablet@1x.jpg");
		@include retina {
			background-image: url("../img/gift-photo-tablet@2x.jpg");
		}
	}

	@include media-laptop {
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 245px;

		min-height: 290px;
		margin: 0 20px;
		padding: 0;

		background-image: url("../img/gift-photo-desktop@1x.jpg");
		@include retina {
			background-image: url("../img/gift-photo-desktop@2x.jpg");
		}
	}
}

.options-list__icon{
	display: block;

	width: 55px;
	height: 60px;
}

.options-bonus__text {
	color: #ffffff;
	font-size: 16px;
	line-height: 20px;

	text-align: center;

	transform: translateY(45px);

	@include media-tablet {
		transform: none;
		text-align: left;
	}
	@include media-laptop {
		text-align: center;
		transform: translateY(45px);
	}
}