.form-comment{
	border: none;

	margin-top: 0;
	padding: 0 20px;

	@include media-tablet {
		grid-gap: 70px;

		//padding: 0 70px;
	}

	@include media-laptop {
		//padding: 0 110px;
	}
}

.field-comment{
	color: #444444;
	font-family: Oswald;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;

	width: 280px;
	height: 140px;
	border: 1px solid rgba(204, 204, 204, 0.5);

	padding: 15px 11px;

	&::placeholder{
		opacity: 1;
	}

	@include media-tablet {
		font-size: 20px;
		font-weight: 400;
		line-height: 30px;

		width: 631px;
		height: 174px;

		padding: 15px;
		margin: 0 70px;
	}

	@include media-laptop {
		font-size: 20px;
		font-weight: 400;
		line-height: 30px;

		width: 1220px;
		height: 174px;

		padding: 15px;
		margin: 0 110px;
	}
}