.form-head{
	padding: 12px 20px;

	@include media-tablet {
		padding: 50px 30px;
	}

	@include media-laptop {
		padding: 65px 110px 40px;
	}
}

.form-head__title{
	margin: 0;
	margin-bottom: 23px;

	@include media-tablet {
		margin-bottom: 53px;
	}
}

.form-head__text{
	font-size: 14px;
	line-height: 18px;

	@include media-tablet {
		font-size: 20px;
		line-height: 30px;

		margin-left: 45px;
	}

	@include media-laptop {
		margin-left: 0;
	}
}