.form-contact{
	border: none;

	margin-top: 0;
	padding: 0 15px;
}

#pseudo-title__after-br{
	&::after {
		top: -7px;
	}
	@include media-tablet {
		&::after{
			top: 3px;
		}
	}
}

.field-contact__wrapper{
	display: grid;
	grid-gap: 15px;

	@include media-tablet {
		grid-gap: 30px;

		padding: 0 70px;
		margin-top: 50px;
	}
	@include media-laptop {
		grid-gap: 40px;
		grid-template-columns: 1fr 1fr;

		margin-top: 60px;
	}
}
.field-contact{
	position: relative;

	display: flex;
	justify-content: space-between;
	align-items: center;

	& input{
		flex: auto;
		box-sizing: border-box; 
		width: auto;
	}
}

.icon-input{
	position: relative;
	top: 0;
	right: 35px;
}


