.form-additionally{
	border: none;
	position: relative;

	& input{
		@include visually-hidden;
	}
}

.field-check__wrapper{
	display: grid;
	grid-gap: 25px;

	@include media-tablet {
		grid-template-columns: 1fr 1fr;
		grid-gap: 50px;

		margin-top: 30px;
		padding: 0 70px;
	}

	@include media-laptop {
		grid-template-columns: 1fr 1fr 1fr 1fr;

		margin-top: 45px;
		padding: 0 110px;
	}
}

.field-check__input + .field-check__label{
	position: relative;

	padding-left: 50px;

	&::before{
		content: "";

		position: absolute;
		top: 0;
		left: 5px;

		width: 30px;
		height: 30px;

		border: 1px solid #cdcdcd;
		box-shadow: 1px 1px #cdcdcd;
	}

	&:hover::before,
	&:focus::before{
		border-color: #bababa;
	}
	&:active{
		opacity: 0.3;
	}
}

.field-check__input:checked + .field-check__label{
	position: relative;

	padding-left: 50px;

	&::after{
		content: "";

		position: absolute;
		top: 5px;
		left: 10px;

		width: 21px;
		height: 16px;

		background-image: url("../img/icon-tick.svg");
		background-position: center;
		background-repeat: no-repeat;
	}
}