.scope{
	margin: 0 22px;
	margin-top: -15px;

	@include media-tablet {
		margin: 30px;
		margin-top: -40px;
		margin-bottom: 15px;
	}

	@include media-laptop {
		margin: 115px;

		margin-top: -30px;

		margin-bottom: 0;
	}
}

.scope__title{
	@include media-tablet {
		margin-bottom: 65px;
	}

	@include media-laptop {
		margin-bottom: 70px;
	}
}

.scope-list{
	@include no-list-style;

	display: grid;
	grid-gap: 20px;

	@include media-tablet {
		grid-gap: 50px;
		grid-template-columns: auto auto;
		grid-auto-rows: 270px;
	}
	@include media-laptop {
		grid-gap: 60px;
		grid-template-columns: auto auto auto auto;
		grid-auto-rows: 270px;
	}
}

.scope-list__item{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	align-content: start;

	grid-gap: 20px;

	@include media-tablet {
		grid-gap: 30px;
		grid-template-columns: auto;
	}
}

.scope-list__image-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;

	width: 60px;
	height: 60px;
	background-color: #68b738;

	@include media-tablet {
		width: 80px;
		height: 80px;
	}
}

.scope-list__text{
	margin: 0;
}

.bottom-frame{
	display: none;

	color: #e6e6e6;

	margin: 0;
	padding: 0;

	@include media-tablet {
		display: block;
	}

	@include media-laptop {
		display: none;
	}
}