.text-special{
	font-family: inherit;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	font-style: normal;
	letter-spacing: normal;

	text-transform: uppercase;

	color: #111111;

	@include media-tablet {
		font-size: 20px;
		font-weight: 400;
		line-height: 20px;
	}
}