.title{
	font-family: Oswald;
	color: #111111;
	font-size: 36px;
	font-weight: 400;
	line-height: 60px;

	@include media-tablet {
		font-size: 60px;
		font-weight: 400;
		line-height: 60px;
	}

	@include media-laptop {
		font-size: 60px;
		font-weight: 400;
		line-height: 60px;

		background-color: #ffffff;
	}
}