.title{
	font-family: Oswald;
	font-size: 36px;
	font-weight: 400;
	line-height: 60px;
	font-style: normal;
	letter-spacing: normal;

	color: #111111;

	@include media-tablet {
		font-size: 60px;
		font-weight: 400;
		line-height: 60px;
	}

	@include media-laptop {
		font-size: 60px;
		font-weight: 400;
		line-height: 60px;
	}
}