footer.main-footer
	section.main-footer__card
		img.main-footer__card-image

	section.main-footer__contacts
		strong.main-footer__contacts-icon cat-energy
		div.main-footer__contacts-socials
			img.socials__icon
			img.socials__icon
			img.socials__icon
		div.main-footer__contacts-about
			strong.about__text HTML Academy
			img.about__icon