section.example

	h3.example-header Живой пример
	p.example-text Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день. 

	div.example-character
		.example-character__block
			p.example-character__header снижение <br> веса
			p.example-character__text 5 кг
			
		.example-character__block
			p.example-character__header затрачено <br> времени
			p.example-character__text 60 дней
			
	div.example-expense
		p.example-expense__text Затраты на питание: <span class="example-expense__text-number"> 15 000 </span> руб.