-
	var imgBefore = [
		"img/before@2x.webp 2x, img/before@1x.webp 1x",
		"img/before-mobile@2x.webp 2x, img/before-mobile@1x.webp 1x",
		"img/before@2x.png 2x, img/before@1x.png 1x",
		"img/before-mobile@2x.png 2x, img/before-mobile@1x.png 1x",
	];

-
	var imgAfter = [
		"img/after@2x.webp 2x, img/after@1x.webp 1x",
		"img/after-mobile@2x.webp 2x, img/after-mobile@1x.webp 1x",
		"img/after@2x.png 2x, img/after@1x.png 1x",
		"img/after-mobile@2x.png 2x, img/after-mobile@1x.png 1x",
	];

.example-slider__wrapper

	section.example

		h3.example__title.title Живой пример
		p.example__text.text Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.

		.example__wrapper
			.example-character
				.example-character__block
					p.example-character__header снижение <br> веса
					p.example-character__text 5 кг
					
				.example-character__block
					p.example-character__header затрачено <br> времени
					p.example-character__text 60 дней
					
			.example-expense
				p.example-expense__text Затраты на питание: <span class="example-expense__text-wrapper"><span class="example-expense__text-number"> 15 000 </span> руб. </span>


	section.slider-progress
		
		.slider-progress__wrapper
			.slider-progress__before
				picture
					+image_two(imgBefore, mediaWidths)
					img(src="img/before@1x.png" alt="Изображение: было.")

			.slider-progress__after
				picture.slider-progress__image
					+image_two(imgAfter, mediaWidths)
					img(src="img/after@1x.png" alt="Изображение: стало.")

		.slider-progress__checker-wrapper
			p.slider-progress__text Было
			.slider-progress__checker
				.slider-progress__checker-set
					.slider-progress__checker-check
			p.slider-progress__text Стало