extends common/layout

block content
	main.page-main.inner-page.page-catalog
		include includes/catalog/catalog-head
		include includes/catalog/catalog-items
		include includes/catalog/catalog-options