section.catalog-show
	.icon-plus
		picture
			sourse(media=`min-width: ${mediaWidthTablet}` srcset="img/icon-plus.svg" width="60" height="60")
			sourse(media=`min-width: ${mediaWidthMobile}` srcset="img/icon-plus-mobile.svg" width="30" height="30")
			img.catalog-show__icon-plus(src="img/icon-plus-mobile.svg" alt="Показать ещё" width="30" height="30")
	h3.catalog-show__header Показать еще 100500 товаров
	p.catalog-show__text На самом деле вкусов гораздо больше!

	button.catalog-show__button Показать все